{% extends 'layout/base.html'%}
{%load static%}
{%block contenido%}
    <h1>Alexi  Flores : Programador Web </h1>
    <div class="about">
        <img src="{% static 'img/Alex.jpg' %}" width="300" height="300">
        <div class="aboutcontent">
            <h1>Hola como estas</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, accusantium id iusto dicta dolores expedita quidem itaque, iure quaerat modi, consequatur ad excepturi ex velit facere repudiandae ipsa? Doloremque, incidunt.</p>
        </div>
    </div>
    
{%endblock%}