{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'estilo.css' %} ">
    {%block style%} {%endblock%}
    <title>{% block title%} {%endblock%}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">inicio</a></li>
            <li><a href="#">compra</a></li>
            <li><a href="#">pago</a></li>
            <li><a href="#">salirs</a></li>

        </ul>
    </nav>

    <main>
        <h2>Formulario</h2>
        <form >
            <fieldset>
                <input type="email" title="Ingrese su email">
            </fieldset>
        </form>
    </main>
    <footer>
        <p>Hasta pronto</p>
    </footer>
</body>
</html>