{%load static%}
<footer>
    <img src=" {% static 'img/foto.png'%} " width="128">
    <ul> 
        <li> <a href="https://www.flaticon.es/iconos-gratis/camara"></a>Diseñador logotipo</li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/camara"></a>Diseñador logotipo</li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/camara"></a>Diseñador logotipo</li>
    </ul>
    <ul>
        <li> <a href="{% url 'index'%}">Inicio</a></li>
        <li> <a href="{% url 'portfolio'%}">Porfolio</a></li>
        <li> <a href="https://instagram.com">Instagram</a></li>
    </ul>
    <ul>
        <li> <a href="https://www.flaticon.es/iconos-gratis/camara"></a>Diseñador logotipo</li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/camara"></a>Diseñador logotipo</li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/camara"></a>Diseñador logotipo</li>
    </ul>
    
</footer>