{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_v2.css' %}">
    {%block style%}{%endblock%}
    <title>{% block title %} {%endblock%}</title>
</head>
<body>
    <nav>
        <ul>
            <h3>Logo</h3>
           <li><a href="">herencia</a></li>
           <li><a href="">otra</a></li>
           <li><a href="">ejemplo</a></li>


        </ul>
    </nav>
    <main>
        {% block content %} {%endblock%}
    </main>
    <footer>
        {% block script %} {%endblock%}
    </footer>
</body>
</html>